.footer {
  background-color: #0f1216;
  color: white;
}
.footer-container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}
.footer-inner {
  display: flex;
  padding: 100px 0 93px;
}
.footerCol {
  width: 25%;
  padding: 0 10px;
}
.footer-list {
  padding: 0;
  list-style: none;
}
.contactInfo {
  list-style: none;
  padding: 0;
}
.contactInfo li {
  color: #b7b7b9;
  display: inline-flex;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  width: 100%;
}
.contactInfo a {
  color: #b7b7b9;
  font-size: 18px;
  line-height: 24px;
  margin-left: 10px;
  text-decoration: none;
  transition: all 0.5s;
}
.contactInfo a:hover {
  color: #d2093c;
}
.description h5 {
  color: #fff;
  line-height: 24px;
  margin: 25px 0 26px;
  font-size: 18px;
  font-weight: 500;
}
.footer-menu-title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 30px;
  position: relative;
}
.footer-item a {
  color: #b7b7b9;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  position: relative;
  transition: all 0.5s ease 0s;
  margin-bottom: 2px;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
}
/* .footer-item a::after {
  background: #d2093c;
  bottom: -5px;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: auto;
  transition: all 0.3s ease;
  width: 100%;
  z-index: 1;
} */
.footer-item a:hover {
  color: #d2093c;
  margin-left: 5px;
}
.footer-item a:hover::after {
  background: #d2093c;
  bottom: -5px;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: auto;
  transition: all 0.3s ease;
  width: 100%;
  z-index: 1;
  transition: all 0.5s;
}
.About.Us.footer-menu-sec {
  padding-left: 100px;
}
.Useful.Links.footer-menu-sec {
  margin-left: 50px;
}
.desc {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 26px;
}
.footer-input {
  background: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 21px 80px 21px 30px;
  width: 100%;
}
.footer-input::placeholder {
  font-size: 15px;
}
.form-2 {
  position: relative;
  display: flex;
}
.form-2 .btn {
  background-color: #3270fc;
  border: none;
  border-radius: 0 4px 4px 0;
  bottom: 0;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}
.form-2 .btn:hover {
  opacity: 0.9;
}
.arrow-right::before {
  content: "";
  background-image: url("../../images/submitArrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  padding: 20px 0;
}
.copyright {
  color: #a6a6a8;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 0;
}
.copyright a {
  color: #d2093c;
  text-decoration: none;
}
.socials {
  display: flex;
  align-items: center;
}
.social-icon {
  display: flex;
  padding: 0;
  margin: 0;
}
.social-icon li {
  padding: 8px 12px;
  border: 2px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.5s;
}
.social-icon li:hover {
  background-color: #d2093c;
}
.social-title {
  color: #b7b7b9;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-right: 20px;
}
@media (max-width: 991px) {
  .footer-container {
    max-width: 720px;
  }
  .footer-inner {
    flex-direction: column;
  }
  .footerCol {
    width: 100%;
  }
  .About.Us.footer-menu-sec {
    padding-left: 0;
  }
  .Useful.Links.footer-menu-sec {
    margin-left: 0;
  }
  .description{
    width: 45%;
  }
  .bottom-sec{
    flex-direction: column-reverse;
  }
  .social-icon li{
    margin: 0 3px;
  }
}
@media (max-width: 767px) {
    .footer-container {
      max-width: 540px;
    }
    .footer-inner {
      flex-direction: column;
    }
    .footerCol {
      width: 100%;
    }
    .description{
        width:100%;
      }
    .About.Us.footer-menu-sec {
      padding-left: 0;
    }
    .Useful.Links.footer-menu-sec {
      margin-left: 0;
    }
  }
